:root {
  --font-family-main: 'Lato';

  --color-white: #FFFFFF;
  --color-gray-1: #6F6D7B;
  --color-gray-2: #272733;
  --color-gray-3: #BBBBBB;
  --color-gray-4: #EBEBEC;
  --color-dark: #2A2B30;
  --color-blue: #3E9CDC;
  --color-blue-dark: #286690;

  --color-accent: var(--color-blue);

  --header-bg: rgba(16, 16, 29, 0.9);

  --form-field-bg-color: #DFDFE1;

  --footer-bg: #3D4050;

  --page-font-size: 1.6rem;

  --container-max-width: 117rem;
  --container-padding: 1.6rem;

  --intro-padding-block: max(10.639412%, 11.5rem);


  --transition-duration: 200ms;

  @media screen and (min-width: $desktop) {
    --title-font-size: 4.8rem;
    --intro-margin-block-start: 8rem;
    --btn-padding: 1.4rem 3.1rem;
  }
}
