@import '../../assets/scss/general/media';

.page {
  &__header {
    position: fixed;
    top: 0;
    inset-inline: 0;

    z-index: 100;
  }

  &__container {
    max-inline-size: var(--container-max-width);
    margin-inline: auto;
    padding-inline: var(--container-padding);
  }

  &__section {
    padding-block: 12.1rem 15.1rem;
  }
}
